.container{
    flex:1;
    overflow: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    .articles{
      display: 'flex';
      flex-direction: 'column';
      width: 100%;
      .article_container{
          h2{
              color: #CC869D;
              font-size: 20px;
          }
      }
    }
}