:root{
  // ----- Global Variables ----- //
  --nav-height: 52px;
  // ----- Global Styles ----- //
  #root{
      position: fixed;
      width: 100vw!important;
      height: 100vh!important;
  }
  body,html {
      font-family: Roboto;
      margin: 0;
      padding: 0;
      width: 100vw!important;
      height: 100vh!important;
  }
  * {
      box-sizing: border-box;
  }
  img{
      object-fit: contain;
  }
  a{
      color: inherit;
      text-decoration: none;
  }
}